:root {
  --font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-bg: #eee;
  --color-current-player-border: hsl(251, 100%, 37%);
  --color-current-player-bg: hsl(251, 100%, 87%);
}

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Styles */
body {
  font-family: var(--font);
  font-weight: 200;
  background: var(--color-bg);
}

.message {
  font-weight: 200;
}

.board {
  background: #fff;
  border: 1px solid #000a;
}

.start-btn {
  background: #000;
  color: #fff;
}

.restart-btn {
  background: #dddb;
}

.restart-btn:hover {
  outline: 2px solid #000;
}

.start-btn:hover,
.start-btn:focus {
  outline-offset: 2px;
  outline: 2px solid #000;
}

.player {
  border-bottom: 2px solid transparent;
  background: var(--color-bg);
}

.player-name {
  background: inherit;
  border: 2px solid transparent;
}

.player-name::placeholder {
  color: #333;
}

.player-name:hover {
  border: 2px solid black;
}

.current-player {
  background: #ccc;
  border-bottom: 2px solid #000;
}

/* Layout */
.message {
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  height: 100vh;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.board {
  width: max(200px, calc(30vw));
  height: max(200px, calc(30vw));
  flex: 0 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem 2.5rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  font-size: 4rem;
  position: relative;
}

.board>* {
  width: 100%;
  height: 100%;
  border: 1px solid #0005;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board> :nth-child(-n + 3) {
  border-top: none;
}

.board> :nth-child(3n) {
  border-right: none;
}

.board> :nth-last-child(-n + 5) {
  border-bottom: none;
}

.board> :nth-child(3n + 1) {
  border-left: none;
}

.start-btn {
  position: absolute;
  border: none;
  width: max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.restart-btn {
  position: absolute;
  width: 100%;
  height: max-content;
  bottom: 0;
  border: 0;
  border-radius: 0 0 1rem 1rem;
  font-size: 1rem;
  padding: 0.25rem;
}

.hide {
  display: none;
}

.player {
  text-align: center;
}

.player-name {
  font-size: clamp(16px, calc(16px + 1vw), 1.2rem);
  text-align: inherit;
  width: 12ch;
}

.mark {
  margin-top: -0.25rem;
  font-size: clamp(2rem, calc(2rem + 1vw), 3rem);
}